//
// Include
//
#include "glpi-wince-agent.h"
/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDR_MAINICON		ICON	DISCARDABLE	"glpi-wince-agent.ico"

//
// Menu
//
IDR_MAINMENU MENU DISCARDABLE
BEGIN
	POPUP "&Agent"
	BEGIN
		MENUITEM	"Do &Inventory",	IDM_MENU_DOINVENTORY
#ifdef DEBUG
		MENUITEM	"&Debug inventory",	IDM_MENU_DEBUGINVENTORY
#endif
		MENUITEM	"&Run",	IDM_MENU_RUN
		MENUITEM	SEPARATOR
		MENUITEM	"E&xit",	IDM_MENU_EXIT
	END
END
